.menuRelation{
    padding: 0px 16px;
    margin-top: 80px;
}
.contentRelation{
    padding: 0px 14px;
}
.headerRelation{
    text-align: center;
    font-family: 'regular';
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 10px;
}
.ListRelation{
    padding-bottom: 15px;
    height: 488px;
}
.viewAllBtn{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
}