.register{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 90px;
}

.contentRegister{
    width: 478px;
    padding: 0px 20px;
}
.titleRegister{
    font-size: 4rem;
    text-align: center;
    margin: 26px 0px;
    font-weight: 800;
}
.errorMessage{
    font-size: 2rem;
    font-weight: 800;
    color: red;
    font-family: 'regular';
}
.successMessage{
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: #ffc103;
}
.wrapForm{
    margin-top: 20px;
}
.registerBtn{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 15px;
}
.linkLogin{
    text-align: center;
    font-size: 1.4rem;
    color: #333;
    margin-top: 10px;
    display: block;
    &:hover{
        color: #333;
    }
}