.btn{
    text-align: center;
    width: 120px;
    font-size: 16px;
    font-weight: 800;
    padding: 11px 8px;
    text-decoration: none;
    + .btn{
        margin-left: 18px;
    }
    &:hover{
        color: var(--black);
    }
}
// color
.yellow{
    background-color: #fbbf19;
    color: var(--black);
}
.black{
    background-color: var(--black);
    color: var(--white);
    &:hover{
        color: var(--white);
    }
}
.white{
    background-color: var(--white);
    color: var(--black);
}
// size
.sm{
    width: 86px;
}
.md{
    width: 160px;
}
.lg{
    width: 220px;
}
// type
.boder{
    border-radius: 20px;
}
// disabled
.disabled {
    cursor: none;
    pointer-events: none;
    opacity: 0.5;
}
