@import url('normalize.css');

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #161823;
    --font-family: 'Roboto Mono,regular,sans-serif';

    // DefaultLayout
    --width-inner-header-Header: 1150px;
    --width-container-defaultLayout: 1150px;
    --height-Header: 86px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../../assets/fonts/roboto_moto.woff2');
}
@font-face {
    font-family: 'regular';
    src: url('../../assets/fonts/regular_1.woff');
}
@font-face {
    font-family: 'regular';
    src: url('../../assets/fonts/regular_1.woff2');
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-y: overlay;
}

// css scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
button,
input {
    outline: none;
    border: none;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
li{
    list-style-type: none;
}