.cart{
    padding-right: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 900;
    padding: 6px 12px;
    cursor: pointer;
}
.value{
    font-size: 1.2rem;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: black;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
}
.backropCart{
    z-index: 10000;
}
.modalCart{
    z-index: 10000;
    & .modalDialogCart{
        width: 100%;
        max-width: 375px;
        margin: 0;
        position: fixed;
        top: 0;
        right: -375px;
        transition: all 0.4s linear;
        animation: modalDialog 0.6s ease-out forwards;
    }
    & .contentModalCart{
        border: none;
        border-radius: 0;
    }
}
@keyframes modalDialog {
    from{
        right: -375px;
    }
    to{
        right: 0;
    }
}
// in Cart
.contentCart{
    width: 100%;
    background-color: #ffc001;
    height: 100vh;
}
.headerCart{
    padding: 24px 16px 0px 16px;
}
.closeBtn{
    margin-left: auto;
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    font-weight: 700;
    color: black;
    display: block;
}
.headingCart{
    font-size: 3.2rem;
    font-weight: 200;
}
// footer
.footerCart{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px;
}
.textStart{
    font-size: 1rem;
    font-weight: 700;
    line-height: 2rem;
}
.wrapChecOutBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapMoney{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 8px;
    width: 215px;
    border: 2px solid #333;
}
.subtotal{
    font-weight: 700;
    line-height: 1.5rem;
    text-transform: lowercase;
    font-size: 1.8rem;
    color: #545454;
    margin: 0;
}
.numberMoney{
    font-size: 1.6rem;
    margin: 0;
}
.checkOutBtn{
    border: 1px solid black;
    height: 72px;
    &:hover{
        color: black;
        background-color: #ffc001;
    }
}
.textEnd{
    margin-bottom: 0;
    text-align: center;
    font-size: 12px;
    margin-top: 14px;
    margin-bottom: 16px;
}
