.unit{
    font-size: 1.6rem;
    font-weight: 900;
    padding: 11px 0px;
    cursor: pointer;
    line-height: 2.4rem;
    text-align: center;
    width: 142px;
}
.menuCountry{
    width: 180px;
    overflow: auto;
    max-height: 70vh;
    height: 260px;
}
.listCountry{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.itemCountry{
    padding: 8px 18px;
    flex-shrink: 0;
    cursor: pointer;
    + .itemCountry {
        margin-top: 4px;
    }
    &:hover{
        background-color: rgb(213, 212, 212,0.4);
    }
}
.linkCountry{
    color: var(--text);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    &:hover{
        color: var(--text);
    }
}