.detailProduct{
    margin-top: 40px;
}
.infoProduct{
    display: flex;
    margin: auto;
    width: 100%;
    padding: 0px 16px;
}
.wrapImgProduct{
    padding: 0px 12px; 
}
.listImg{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itemImg{
    width: 100%;
    max-height: 804px;
    padding: 34px;
    & img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.detailInfoProduct{
    position: sticky;
    top: 86px;
    z-index: 10;
    padding: 0px 40px;
}
.titleProduct{
    font-size: 4rem;
    font-family: "regular";
    font-weight: 900;
    margin: 0;
    margin-top: 20px;
}
.priceProduct{
    display: block;
    font-size: 2.2rem;
    margin-bottom: 10px;
}
.showColor,
.showSize{
    margin-bottom: 20px;
}
.headerSize{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    & span:nth-child(1){
        font-size: 1.8rem;
        font-weight: 600;
    }
    & span:nth-child(2){
        font-size: 1.4rem;
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;
        & svg{
            font-size: 1.8rem;
            margin-right: 4px;
            transform: translateY(2px);
        }
    }
}
.headerColor{
    margin-bottom: 10px;
    & span{
        font-size: 1.8rem;
        font-weight: 600;
    }
}
.wrapAddBtn{
    height: 70px;
    border: 1px solid #333;
    margin-top: 40px;
    & .addCartBtn{
        height: 100%;
        width: 100%;
        transition: all 0.2s ease-in-out;
        &:hover{
            background-color: var(--black);
            color: var(--white);
        }
    }
}
// mobile
@media only screen  and (max-width: 672px){
    .wrapImgProduct{
        height: 360px;
        overflow-x: auto;
    }
    .listImg{
        flex-direction: row;
        height: 100%;
        & .itemImg{
            flex-shrink: 0;
            height: 100%;
            & img{
                object-fit: contain;
            }
        }
    }

}