.header{
    font-weight: 900;
    font-family: regular;
    margin: 0;
    line-height: 3.2rem;
}
.contentModal{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}