.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    height: var(--height-Header);
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
}
// left
.navigation{
    max-width: 100%;
    width: 380px;
}
.listMenu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    & .scrapbooks{
        font-size: 1.8rem;
        font-weight: 900;
        padding: 4px 8px;
        color: var(--text);
        text-decoration: none;
    }
}
// middle
.logo{
    display: block;
    width: 165px;
    height: 42px;
    text-align: center;
    padding: 6px;
    & img{
        width: 100%;
    }
}
// right
.headerIcons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 446px;
}
.login{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 900;
    padding: 6px 30px;
    cursor: pointer;
}
.login a,
.login a:hover{
    color: var(--text);
    text-decoration: none;
}