.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    height: var(--height-Header);
    width: 100vw;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
}
// left
.navigation{
    max-width: 100%;
    flex-basis: 30%;
}
.menuIcon{
    display: none;
}
.listMenu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    & .scrapbooks{
        font-size: 1.8rem;
        font-weight: 900;
        padding: 4px 8px;
        color: var(--text);
        text-decoration: none;
    }
}
// middle
.wrapLogo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    display: block;
    width: 165px;
    height: 42px;
    text-align: center;
    padding: 6px;
    & img{
        width: 100%;
    }
}
// right
.headerIcons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-basis: 30%;
}
.login{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 900;
    padding: 6px 30px;
    cursor: pointer;
}
.login a,
.login a:hover{
    color: var(--text);
    text-decoration: none;
}
// mobile
@media only screen  and (max-width: 672px){
    .header{
        padding: 0;
    }
    .headerIcons{
        justify-content: flex-end;
        & > div:first-child {
            display: none;
        }
    }
}
// mobile and tablet
@media only screen and (max-width: 992px){
    .navigation{
        width: auto;
    }
    .headerIcons{
        width: auto;
    }
    .login{
        display: none;
    }
    // menu pc
    .listMenu{
        display: none;
    }
    // menu tablet
    .menuIcon{
        display: inline-block;
        font-size: 2.2rem;
        padding: 4px 10px;
    }
    .backropMenu{
        z-index: 10000;
    }
    .modalMenu{
        z-index: 10000;
        & .contentModalMenu{
            border: none;
            border-radius: 0;
        }
        & .modalDialogMenuShow{
            position: fixed;
            top: 0;
            left: -400px;
            margin: 0;
            width: 100%;
            max-width: 400px;
            transition: all 0.4s linear;
            animation: showMenu 0.6s ease-out forwards;
        }
        & .modalDialogMenuHidden{
            position: fixed;
            top: 0;
            left: 0px;
            transition: all 0.4s linear;
            animation: hiddenMenu 1s ease-out forwards;
        }
    }
    @keyframes  showMenu {
        from{
            left: -400px;
        }
        to{
            left: 0;
        }
    }
    @keyframes  hiddenMenu {
        from{
            left: 0px;
        }
        to{
            left: -400px;
        }
    }
    .contentMenu{
        height: 100vh;
    }
    .headerMenu{
        height: 100px;
        padding: 36px 24px;
        display: flex;
        justify-content: flex-end;
    }
    .closeMenuBtn{
        font-size: 2.2rem;
        font-weight: 900;
        color: #222;
    }
    .listTabletMenu{
        padding: 0;
        margin: 0;
    }
    .itemMenu{
        font-size: 2.6rem;
        font-weight: 900;
        padding: 8px 28px;
        display: flex;
        justify-content: space-between;
        &:active {
            background-color: #fabe16;;
        }
        & a{
            text-decoration: none;
            color: #222;
        }
    }
    // link shops
    .linkShopMenu{
        margin: 0;
        padding: 0;
        padding-left: 24px;
    }
    .itemCategory{
        font-size: 1.8rem;
        font-weight: 900;
        padding: 11px 24px;
        & a {
            text-decoration: none;
        }
    }
    // search tablet
    .searchTablet{
        padding: 18px 20px;
    }
    .wrapFormSearchTablet{
        position: relative;
        & .searchBtn{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            font-size: 2rem;
            padding: 0px 0px;
            cursor: pointer;
            width: 48px;
            background-color: transparent;
        }
    }
}
