.infoOrder{
    padding: 0px 20px;
    background-color: #fabe17;
    height: 100vh;
    position: relative;
}
.headerOrder{
    color: #333;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2rem;
    padding: 20px 0px 20px 0px;
}
.listOrder{
    display: flex;
    height: 300px;
    flex-direction: column;
    padding: 0;
    overflow-y: overlay;
}
.itemOrder{
    display: flex;
    + .ItemOrder{
        margin-top: 12px;
    }
}
.imgItem{
    width: 100px;
    height: 140px;
    margin-right: 14px;
    flex-shrink: 0;
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.infoItem{
    flex: 1;
    font-weight: 500;
    font-size: 1.8rem;
}
.footerOrder{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #fabe17;
}
.discountOrder{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.discountBtn{
    margin-left: 12px;
    flex-shrink: 0;
}
.totalPriceOrder{
    padding: 28px 0px;
    font-size: 1.6rem;
    line-height: 3rem;
}
.tableOrder{
    padding-bottom: 12px;
    border-bottom: 1px solid #333;
}
.wrapBtnOrder,
.wrapPriceOrder,
.rowOrder{
    display: flex;
    justify-content: space-between;
    + .rowOrder{
        margin-top: 10px;
    }
}
.wrapBtnOrder{
    align-items: center;
}
.linkBackCart{
    height: fit-content;
    color: #333;
    text-decoration: none;
    font-size: 1.6rem;
    cursor: pointer;
}
// when component order up 
@media only screen and (max-width: 1200px) {
    .headerOrder{
        cursor: pointer;
    }
    .infoOrder{
        height: auto;
    }
    .footerOrder{
        position: relative;
    }
    .listOrder{
        height: auto;
    }
    .listOrderMobile{
        display: none;
    }
}