.search{
    margin-left: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 900;
    padding: 6px 26px;
    cursor: pointer;
}
.searchModal > div{
    background-color: antiquewhite;
    margin: 0;
    max-width: none;
}
.wrapModalHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
}
.searchHeader{
    position: relative;
    max-width: 100%;
    width: 478px;
    height: 45px;
    & svg{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        font-size: 2rem;
        padding: 13px 14px;
        cursor: pointer;
    }
}
.inputSearch{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    padding: 0px 12px;
    padding-top: 12px;
    padding-right: 48px;
    box-shadow: 0 0 0 0.1rem rgba(34,34,34,.55);
    &:focus,
    &:hover{
        box-shadow: 0 0 0 0.2rem rgba(34,34,34,.55);
    }
    &:focus ~ .labelSearch{
        font-size: 1.2rem;
        top: calc(50% - 20px);
        left: 2.5%;
    }
}
.labelSearch{
    position: absolute;
    cursor: auto;
    top: calc(50% - 8px);
    left: 3%;
    font-size: 1.8rem;
    line-height: 1.6rem;
    height: 16px;
    color: #6d6d6d;
    transition: all 0.4s ease;
}
.labelSearchHasText{
    font-size: 1.2rem;
    top: calc(50% - 20px);
    left: 2.5%;
}
.wrapBtn{
    margin-left: 8px;
}
.modalCloseBtn{
    font-size: 2.6rem;
    background-color: white;
    padding: 3px 13px;
}