.search{
    margin-left: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 900;
    padding: 6px 26px;
    cursor: pointer;
}
.searchModal > div{
    background-color: antiquewhite;
    margin: 0;
    max-width: none;
}
.wrapModalHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
}
.searchHeader{
    position: relative;
    & svg{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        font-size: 2rem;
        padding: 13px 14px;
        cursor: pointer;
    }
}
.wrapBtn{
    margin-left: 8px;
}
.modalCloseBtn{
    font-size: 2.6rem;
    background-color: white;
    padding: 3px 13px;
}