.notFound{
    padding: 0px 40px;
}
.numberError{
    font-size: 4rem;
    font-weight: 800;
    font-family: regular;
    display: inline;
    line-height: 4.2rem;
}
.textError{
    font-size: 1.8rem;
    line-height: 4rem;
    font-weight: 600;
    font-family: 'regular';
}